# compiled output
/backend/dist
/backend/node_modules

# Logs
/backend/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
/backend/.DS_Store

# Tests
/backend/coverage
/backend/.nyc_output

# IDEs and editors
/backend/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
backend/data/dev.sqlite


rn-front/node_modules/
rn-front/.expo/
rn-front/npm-debug.*
rn-front/*.jks
rn-front/*.p8
rn-front/*.p12
rn-front/*.key
rn-front/*.mobileprovision
rn-front/*.orig.*
rn-front/web-build/

# macOS
.DS_Store
